.sidedock-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stage-wrapper {
  display: flex;
}

.data-wrapper {
  width: calc(468px + 2px);
  padding: 0 var(--space);
  flex-direction: row;
  flex: 1;
  display: flex;
  border: 1px solid var(--ui-black-transparent);
  border-radius: var(--space);
  background: var(--ui-white);
  margin-bottom: var(--space);
}

.data-wrapper.small {
  width: calc(360px + 2px);
}

.panel-box-wrapper {
  border-radius: var(--space) var(--space) 0 0;
  border: 1px solid var(--ui-black-transparent);
  border-bottom: 0;
  overflow: hidden;
}
