.stage-wrapper {
  position: relative;
}

.stage {
  z-index: 10;
  width: calc(360px + 2px);
  height: calc(300px + 2px);
  /*border: 1px solid var(--ui-black-transparent);*/
  /*border-radius: var(--space);*/
  position: relative;
  overflow: hidden;
  /*background: var(--ui-white);*/
}

.small-stage {
  width: calc(288px + 2px);
  height: calc(240px + 2px);
}
